[2019-02-03 22:02] boberfly opened #1 "Get Embree building as an option"
Cycles has support for using Intel Embree https://embree.github.io/ as an alternative to its own built-in BVH construction and raytracing. It is reported to be faster/more memory efficient particularly with motion-blurred hair.

https://www.youtube.com/watch?v=_2Ia4h8q3xs

[2019-02-03 22:07] boberfly opened #2 "Implement dome/world/IBL light"
Cycles doesn't have a dome light but it has a global 'world' IBL concept documented here:
https://docs.blender.org/manual/en/latest/render/cycles/world.html

Either implement a pseudo 'dome' light concept which lets me combine multiple dome lights via additive blending of mapped textures in a shader (this will allow better compatibility with other renderers in Gaffer), or implement exactly how ble

[2019-02-03 22:18] boberfly opened #3 "Implement texture cache (not in Cycles mainline)"
The Tangent Animation branch has a working texture cache using OpenImageIO:

https://github.com/tangent-animation/blender278
https://www.youtube.com/watch?v=_2Ia4h8q3xs

See if we can make a special feature branch with Cycles

[2019-02-03 22:24] boberfly opened #4 "Get Cryptomatte to work"
Cryptomatte is now supported in CPU and GPU for Cycles, and there is some code set-up already in GafferCycles to support this but it hasn't been tested, and the IECore::ImageWriter may not support writing this to EXR so I may need to use OpenEXR to write directly.

[2019-02-03 22:28] boberfly opened #5 "Make sure interactive modification of the scene doesn't crash Cycles"
Live edits to the Gaffer scene seems to work with Cycles to an extent, but there might be some small issues still where Cycles may crash in certain combinations of scene modification. This is a global bug issue ticket to keep an eye on this.

Blender's scene conversion implementation seems to just wipe everything and start again on some scene modifications which we can do better here, but this wil

[2019-02-03 22:36] boberfly opened #6 "Implement objects - PointsPrimitive, CurvesPrimitive"
Currently there is conversion code to convert IECore::CurvesPrimitive to Cycles, but this is not tested yet and it isn't too clear if they need to be attached to a ccl::ParticleSystem (via IECore::PointsPrimitive) which also hasn't been implemented yet.

[2019-02-03 22:40] boberfly opened #7 "Allow shader connections to lights & retain colour/exposure"
Under the hood Cycles implements colour/strength on lights via the emission shader internally and has an optimised path in this use case. I've implemented exposure+intensity in the UI so this conversion is seamless (eg. strength = intensity * 2 ^ exposure). In the cases where we want textures assigned to things like area lights, this needs to be implemented still where we use a multiply node and m

[2019-02-03 22:41] boberfly opened #8 "Test OSL is working"
OSL support has been implemented in the shader network conversion code, but it has not been tested and needs to be looked at still. I won't support OSL on GPU as Cycles hasn't got support yet either.

[2019-02-04 01:03] boberfly opened #9 "Implement texture baking"
Cycles supports texture baking (and in the bleeding edge branch in blender 2.80 it is more generalised to match the regular rendering so denoise works also). @danieldresser-ie implemented ArnoldTextureBake recently, I'll model it after this.

https://github.com/GafferHQ/gaffer/pull/2931

[2019-02-07 00:10] boberfly commented on #5
https://github.com/boberfly/GafferCycles/commit/c70e243a35bff3166b1e5a1bcec8aa83e7e0ac13

This commit solves some of the crashing when you play around with the shader networks while rendering in interactive mode, and will revert to a fallback 'facing ratio' shader if there's no shader assigned, much like the other renderers in Gaffer do.

[2019-02-07 00:11] boberfly opened #10 "Investigate why AOVs don't render correctly"
This is a strange bug, in both interactive and batch mode it does render the beauty pass fine, but the other AOV passes tend to glitch out.

[2019-02-08 18:08] boberfly opened #11 "Some geometry will crash the MeshAlgo/conversion process"
This will be a bit of a tricky one, unless I just make a way to reliably detect problematic geometry. This is what I've found so far:

- If a camera is not a part of __cameras set, it will be attempted to convert, we can do a type-check and do an early exist here
- The cow.scc seems to do a double-delete of the trianglulate mesh primitive, not sure what to do here yet
- One asset I've exported out

[2019-02-08 21:20] skwerner commented on #3
I have moved the texture caching branch from the Tangent repository to the Blender repository now:
https://git.blender.org/gitweb/gitweb.cgi/blender.git/shortlog/refs/heads/cycles_texture_cache

[2019-02-08 23:09] boberfly commented on #3
@skwerner hey you've found this github, cheers for the heads-up!

[2019-02-09 07:34] boberfly commented on #2
This one is implemented here:
https://github.com/boberfly/GafferCycles/commit/adbafc44a119f385e1c133b8bd5e26f2047cbac3

However I just discovered that it is possible to have multiple dome lights, so I need to look into this more to allow a texture to be mapped to the light.

[2019-02-09 07:35] #2 closed

[2019-02-09 07:42] boberfly commented on #5
https://github.com/boberfly/GafferCycles/commit/adbafc44a119f385e1c133b8bd5e26f2047cbac3

This commit makes it so the catalogue doesn't make a new image at every scene change

[2019-02-09 11:17] boberfly opened #12 "UDIM support (not in Cycles standalone yet)"
Looks like the Cycles-side should be in good shape already from looking at the diff.
https://developer.blender.org/D2921

[2019-02-10 20:10] boberfly opened #13 "BVH creation segfaults sometimes"
This is pretty major and it has cropped up recently.

The segfault happens here:
https://github.com/boberfly/cycles/blob/39b5b8d34c8dec7e98959e86b602ab8eaed21ea9/src/render/mesh.cpp#L1086

[2019-02-10 20:11] boberfly opened #14 "LookupTables will assert when closing Cycles"
Asserts on this line:
https://github.com/boberfly/cycles/blob/master/src/render/tables.cpp#L34

Not sure why as I don't touch this part of Cycles...

[2019-02-12 07:09] boberfly commented on #7
Partially working in this commit:
https://github.com/boberfly/GafferCycles/commit/78b86c2f0691f18a9b191a3437869234247a3b50

I'm having issues getting textures to work with area lights inside of Blender itself, so I'll park this for now and get back to it in a future commit.

[2019-02-12 07:11] boberfly commented on #13
This is a weird bug which mysteriously went away when I updated to the latest Cycles, so it might've been an internal bug of Cycles. I'll keep this open until I'm confident that it's fixed, but suspiciously there was a memset call for something else which cleared out the params struct in the scene object which was causing the wrong parameters to be passed to BVH creation.

[2019-02-12 10:34] boberfly commented on #13
https://github.com/boberfly/GafferCycles/commit/3817d3d05a5492fdac4ad131398d8ab57b1b2275

Wow, I am glad this is fixed.....

[2019-02-12 10:34] #13 closed

[2019-02-13 08:43] boberfly commented on #14
Fixed in https://github.com/boberfly/GafferCycles/commit/9c49c4dcf39ab15c7bcb4dabecfe9513b63d85f5

[2019-02-13 08:43] #14 closed

[2019-02-13 08:43] boberfly commented on #5
https://github.com/boberfly/GafferCycles/commit/9c49c4dcf39ab15c7bcb4dabecfe9513b63d85f5

This fixes quite a few runtime bugs

[2019-02-20 15:54] Kaiz3rTool opened #15 "cant compile with cmake3 on centos 7"
the compile process won't go to the end and return this :
`-- The CXX compiler identification is unknown
CMake Error at cycles/CMakeLists.txt:42 (project):
  The CMAKE_CXX_COMPILER:

    g++-6

  is not a full path and was not found in the PATH.

  Tell CMake where to find the compiler by setting either the environment
  variable "CXX" or the CMake cache entry CMAKE_CXX_COMPILER to the full path

[2019-02-23 01:02] boberfly commented on #15
Hey!

You will need to install GCC 6 on CentOS to make it compliant with VFX Platform 2018. If you take a peek at Gaffer's official docker builder it should give some hints to how your environment should look like here:
https://github.com/GafferHQ/build/blob/master/Dockerfile

At home I use Kubuntu 18.04 which has named it gcc-6/g++-6 (the distro comes with v7 as default but that is too new) but i

[2019-02-25 16:22] boberfly commented on #15
Hi @Kaiz3rTool

https://github.com/boberfly/GafferCycles/releases/download/gafferCycles-0.1.0-gaffer-0.53.0.0/gafferCycles-0.1.0-gaffer-0.53.0.0-linux.tar.gz
I have a test build here which you can path to GAFFER_EXTENSION_PATHS before launching Gaffer. This should work on 0.53.1.1 which is the latest released one right now.

Cheers

[2019-02-26 08:42] Kaiz3rTool commented on #15
hi, thank you for your answer, I will take a look ASAP
and thanks for invest your time on Gaffer-Cycles bridge, great idea !

[2019-03-01 22:38] boberfly commented on #1
https://github.com/boberfly/GafferCycles/commit/c3ef77e9429e5139d789a4eb4984ff135268fdcd

[2019-03-01 22:38] #1 closed

[2019-03-19 09:08] boberfly commented on #5
https://github.com/boberfly/GafferCycles/commit/87ebded2f2c0831982fb0b957a4f6b2cd17bf527

This also fixes quite a few things with the session/scene options being changed in a live render

[2019-04-08 03:39] boberfly commented on #10
Working in https://github.com/boberfly/GafferCycles/commit/7163d816a68dc08a0d6f3562a87c55130d3b4ef2
Turns out the 'Film' node in addition to the buffer params just needs to be tagged to update so it knows those passes are enabled, too easy! Perhaps denoising will work also now.

[2019-04-08 03:39] #10 closed

[2019-04-11 11:21] Kaiz3rTool commented on #15
Hi, just tried the compiled one, it result some errors on loading : `
[code]

[2019-04-14 22:39] boberfly commented on #15
@Kaiz3rTool you're in luck, I was just battling out this very issue as I was compiling on Ubuntu with GCC 6.5 but VFX Platform/CentOS 7 has GCC 6.3. If you try this build:

https://github.com/boberfly/GafferCycles/releases/tag/0.4.1

Can you verify that this gets around the above issue? It is my first build using CentOS 7 in a docker container which mirrors how Gaffer usually gets built from Gaffe

[2019-04-14 23:03] boberfly commented on #8
From my investigation this is currently the issue:
- When ShaderNetworkAlgo.cpp converts from Cortex's shader network representation to Cycles, it is always in SVM mode because the default is SVM unless CyclesOptions has set it to OSL
- When changing to OSL, currently I am not sure how to rebuild all shaders from Gaffer, so it'll try to re-use the networks built in SVM mode
- Default Cycles shader

[2019-04-15 06:07] Kaiz3rTool commented on #15
I have tried it fastly, so far so good
no errors on loading, shader assignment works, both interactiverender and render works as espected
thanks a lot for your help

I have created a [post on gaffer-dev group](https://groups.google.com/forum/embed/?place=forum%2Fgaffer-dev&showsearch=true&showtabs=false&hideforumtitle=true&parenturl=http%3A%2F%2Fwww.gafferhq.org%2Fcommunity%2F&theme=default#!topic

[2019-04-15 07:57] boberfly opened #16 "Implement OpenVDB support"
Currently Cycles mainline doesn't support OpenVDB, however there was a Google Summer of Code in 2018 in which it has been implemented, however no one has merged it quite yet.

https://developer.blender.org/rB9f4e5581d18899d665d61e93ae7c6933c5a3e770

I have a test branch of this here:
https://github.com/boberfly/cycles/tree/vdbTest

There was some patching to do and I discarded the blender addon co

[2019-04-18 05:55] edmondeng commented on #11
Bob.

I grabbed a free car to test out, converted to abc in blender. Mostly renders..
There are crashes with a one line segfault. I thought it could be certain geo causing this but when I was successful with more car parts being rendered.. starting and stopping interactive render cased a crash.

I made a __cameras set on the renderable camera and still had crash
[z3.tar.gz](https://github.com/bobe

[2019-04-18 05:57] edmondeng commented on #11
gaffer-0.53.4.0
gafferCycles-0.5.0

[2019-04-18 18:31] boberfly commented on #11
Cheers for the test data @edmondeng although I think the crash is being done elsewhere if you are able to render the car in some way. The last Cycles update has changed & it's related to shaders that I have an idea about fixing in the next release when I get some time.

[2019-04-20 13:48] edmondeng commented on #11
FYI: i had nouveue drivers before and after a modern Nvidia install I get some more output on the crash..

how it happens for me

- the scene I have isolates some parts
- I start interactive render
- disable the isolate > crash

free(): corrupted unsorted chunks
Aborted (core dumped)

[2019-04-20 17:58] boberfly commented on #8
Solved in https://github.com/boberfly/GafferCycles/commit/5aab0a42c1862da2fd83f8677ad5f1398a248382

The solution is to just make a dummy OSLShaderManager for the sole purpose of generating an OSL node for when you enable OSL mode. It looks like in SVM mode it'll just ignore that node and not crash.

[2019-04-20 17:58] #8 closed

[2019-04-20 18:16] boberfly commented on #11
Hey @edmondeng

What I noticed is the normals are really bad, I plunked in a MeshType node and regenerated the normals and converted the geo to polygon & pruned out the camera. Hold off from subdivision for now, I'll get that to work next if that's what is causing the crash.

![Screenshot_20190420_111536](https://user-images.githubusercontent.com/5601445/56460817-a867e400-635d-11e9-81da-cffa2a4f42

[2019-04-20 20:16] edmondeng commented on #11
hey .. I had the mesh node but left polys unchanged and re-calculated normals.. I'll boot back in later to see what specifically is the issue in the scene I had based on your feedback... do the meshes come in as cutmull interpolation for you? Thought they were lin.

talk later.

e

[2019-04-21 00:01] boberfly commented on #11
I think it's more the normals were funky. Anyways I'm working on subdivision with some success, it looks like it is working as the wheels are visually smoother, I still need to get the dicing rate value from the CyclesAttributes still.

[2019-04-21 15:32] edmondeng commented on #11
Ok yeah.. that camera that slipped in plus making the meshtype node apply to all geo has made it get through to the end.

e

[2019-06-25 07:12] Kaiz3rTool opened #17 "changing LD_LIBRARY_PATH can brokeOS python function"
on our system (centos), because of our remote connexion tool, we cant allow any change on OS system variable
changing LD_LIBRARY_PATH have broke all python (even yum) run by centos

potential solution :
create a gaffer specific variable like GFR_LD_LIBRARY_PATH

[2019-06-25 07:18] boberfly commented on #17
Hi @Kaiz3rTool
Have you tried something like:
`export LD_LIBRARY_PATH=/some/path/to/custom/libs:$LD_LIBRARY_PATH` to merge multiple paths instead of overriding it?

Also I don't recall needing to override it for GafferCycles, are you looking in the standalone Gaffer launcher script? There can't be a custom one because it is a Linux-specific environment variable to find custom libraries outside of

[2019-06-25 15:46] Kaiz3rTool commented on #17
I haven't tried it for now, I was planning to test it before I realize that the problem may come from me, as I have setup compile variable permanently even if I use the compiled one, so it seems I've made a useless (and buggy) setup

[2019-06-26 07:25] #17 closed

[2019-06-26 08:15] boberfly commented on #17
All good, yeah it sounded a bit strange... :)

[2019-06-26 14:57] #15 closed

[2019-08-25 10:19] Kaiz3rTool opened #18 "gafferCycles prevent gaffer to start"
hi,
with gaffer 0.54.*, application wont start if gafferCycles is up.
terminal return :

`ERROR : startup/gui/menus.py : Error loading Cycles module - "/opt/gafferCycles/lib/libGafferCycles.so: undefined symbol: _ZTIN3ccl4NodeE".
 Traceback (most recent call last):
  File "/opt/gafferCycles/startup/gui/menus.py", line 61, in <module>
    import GafferCycles
  File "/opt/gafferCycles/python/GafferC

[2019-08-26 03:41] boberfly commented on #18
Hi @Kaiz3rTool
You are using a version that I haven't built against yet, did Gaffer 0.54.0.1 not work? In debug mode it was working here, perhaps the release build has a problem. I'll take a look into it and also build against 0.54.1.0.

[2019-08-26 04:49] boberfly commented on #18
@Kaiz3rTool ok I can reproduce it here, oddly debug builds work fine but release builds cause this symbol issue. I will need a bit of time to get to the bottom of this as it doesn't look very obvious what is causing it.

[2019-08-26 05:47] boberfly commented on #18
@Kaiz3rTool this was a tricky bug to spot, but it was in Cycles itself. I've made a diff for them to review here:
https://developer.blender.org/D5590
Please try this release:
https://github.com/boberfly/GafferCycles/releases/tag/0.6.1

Cheers

[2019-08-28 07:47] Kaiz3rTool commented on #18
Hi, sorry I'm taking for ever to answer...
yes I have the bug with both 0.54.0.1 and 0.54.1.0
the release 0.6.1 of gaffercycles works well to me, thanks !

[2019-08-28 07:47] #18 closed

[2019-09-21 14:32] edmondeng opened #19 "free(): corrupted unsorted chunks"
Hey Alex,

I have a super simple scene which crashes when I click the render button.

Here is the stack trace:

700, child_tidptr=0x7f8a80c8b9d0) = 11219
mmap(NULL, 8392704, PROT_NONE, MAP_PRIVATE|MAP_ANONYMOUS|MAP_STACK, -1, 0) = 0x7f89d13ce000
mprotect(0x7f89d13cf000, 8388608, PROT_READ|PROT_WRITE) = 0
clone(child_stack=0x7f89d1bcdfb0, flags=CLONE_VM|CLONE_FS|CLONE_FILES|CLONE_SIGHAND|CLONE_THRE

[2019-09-22 00:49] boberfly commented on #19
Hey Edmond,
Yeah that doesn't tell me much to help fix. Have you tried a MeshType node to re-calculate the normals on the mesh? That's the major bug that I know for now until I figure out a way to fix what's up.

[2019-09-22 03:00] edmondeng commented on #19
Ok It’s a sphere node inside gaffer which I am rendering lemme check that .. is that a requirement for any mesh or was that mesh type for fixing certain cases? I’ll have a go later today

[2019-09-22 21:20] boberfly commented on #19
You might need to give me a .gfr because it seems to work fine here, with the latest release from me.
![Screenshot_20190922_141947](https://user-images.githubusercontent.com/5601445/65394530-203e9e00-dd44-11e9-8632-68691d3cf636.png)

[2019-09-30 23:01] boberfly commented on #11
https://github.com/boberfly/GafferCycles/commit/321e4e0ed119976a764c6f95278882d137e84986

This fixes a crash with FaceVarying normals (it'll skip them and not crash).

[2019-09-30 23:03] boberfly commented on #7
Resolved in commit https://github.com/boberfly/GafferCycles/commit/b0b6607feab7aa70945ddef37e74af1d7d821143

Cycles now has 'strength' as a colour on all lights so this was much easier.

[2019-09-30 23:03] #7 closed

[2019-10-09 02:31] boberfly commented on #11
Closing this as the major cause was the FaceVarying normals. Feel free to re-open if there's problems with new geo.

[2019-10-09 02:31] #11 closed

[2019-10-09 02:32] boberfly commented on #5
https://github.com/boberfly/GafferCycles/commit/4ca9185df047e3f93cb3e8c6317f4ecaf8d17d9f

Using Cycles' scene object to set mutex locks/unlocks when doing scene modifications. Might need to revisit this and see if I need to make 'try locks' instead.

[2019-10-09 02:38] boberfly commented on #6
PointsPrimitive are now implemented:
https://github.com/boberfly/GafferCycles/blob/master/include/GafferCycles/IECoreCyclesPreview/ParticleAlgo.h
However Cycles doesn't have a way to render these, but under the hood this is used to apply per-particle info onto instanced geometry from Gaffer's Instancer if you make sure to transfer particular named primvars to attributes (this will be available fro

[2019-10-17 14:12] Kaiz3rTool opened #20 "custom attribute in filename isn't working"
If i put a custom attribute in a filename field from "image texture" node, it doesn't work and render a pink shader
the exact same expression works as expected  with appleseed

not sure it's related but starting gaffer I have this error message :

it seems to be a NVIDIA problem, this message appear only if gaffercycles is loaded at startup

best

[2019-10-17 14:23] Kaiz3rTool opened #21 "gaffer crash when I turn on OSL"
Hi,
If I turn on OSL in cyclesOptions node, gaffer instantly crash and return an arnold related error

tried with the last version of both gaffer (0.54.2.0) and gaffercycle (0.9.1)
here is the console log

![image](https://user-images.githubusercontent.com/4272733/67017553-3bf65380-f0fa-11e9-93ce-7d230631b672.png)

[2019-10-17 16:00] Kaiz3rTool opened #22 "GPU rendering"
hi, not sure if it's implented or not for now
from my side I only have CPU options, even with the experimental box turned on

best

[2019-10-18 04:34] boberfly commented on #22
Hi @Kaiz3rTool

Currently I am getting GPU rendering to work via OpenCL on a Vega Frontier Edition & CUDA on a Geforce RTX 2070 (OptiX is a little stubborn though on my RTX 2070 I'm not too sure why that's not working yet).

Are you not getting the devices appearing in CyclesOptions ? Check if Blender 2.80 lets you pick any, it could be out of date drivers or no Cuda installed, by the looks of it

[2019-10-18 04:35] boberfly commented on #20
Hi @Kaiz3rTool
I'd recommend checking what Cycles supports for textures, it probably doesn't have the same custom attribute support (do you mean <udim>? I need more info to go by).
Cheers

[2019-10-18 04:41] boberfly commented on #21
Hi @Kaiz3rTool,

I'd recommend running without Arnold in your path so that Arnold isn't loaded in with Cycles, just in case it's a symbol clash over conflicting OSL libraries. Also I don't recommend changing the shading mode while IPR is rendering, it probably puts it in a weird state but I'm not sure.

I just tried it on my end with Arnold 5.4 loaded and swapped between SVM and OSL and they both

[2019-10-18 04:53] boberfly commented on #21
Btw unrelated, but your UVMap primvars look like they are getting tripped up by the conversion code. I'm not too sure how you are bringing those in, but if their interpretation is not set to GeometricData::UV it'll give you that error that you're getting. I'm not sure how to force that or if the Alembic or USD code is not converting that for you.

[2019-10-18 05:25] Kaiz3rTool commented on #22
hi, i don't see any gpu device from gaffer

![image](https://user-images.githubusercontent.com/4272733/67067802-f2e4e480-f177-11e9-8f7a-52d57da12dcb.png)

 all is fine in blender where my 7 GPU are present :

![image](https://user-images.githubusercontent.com/4272733/67067722-af8a7600-f177-11e9-8252-492f334e78cd.png)

maybe the problem come from that I was refering in the OSL issue thread, the Nvi

[2019-10-18 05:40] Kaiz3rTool commented on #20
Hi, the custom attrib is only for the path of the texture, there is no udim for now
I test the process with jpeg file so it should be ok

here is an example scene with some notes to illustrate the problem

bests

[cyclesCustomAttrib.gfr.txt](https://github.com/boberfly/GafferCycles/files/3742431/cyclesCustomAttrib.gfr.txt)

[2019-10-18 05:46] Kaiz3rTool commented on #21
hi, I run it only on CPU
Yes there is not real interest to switch during interactive, it's more for testing purpose of gaffercycles

maybe it crash from my side because of the order it load module (gaffercycles then arnold)

yes the UV data are strange, it's just a cube exported in alembic with blender

cheers

[2019-10-18 06:34] boberfly commented on #21
Ah right I will take a look if the Alembic importer is applying the Geometric::UV properly, or that Blender's exporter is doing that.

As for the OSL problem it caused a crash on my end but it was unrelated to your debug dump, I've found something which could be causing this which is a mistake on my part (I am managing the list of shaders in Gaffer and overriding Cycles' list, but disregarding tha

[2019-10-18 06:38] boberfly commented on #22
Whoa that's a lot of GPUs! It could be the fact that multiple ones of the same kind is tripping up my code here. I don't have such a configuration but perhaps I can go by this and track it down, or find a computer with more than two GPUs of the same kind...

[2019-10-18 06:43] boberfly commented on #20
Oh I see what you mean, that's a very new feature actually for Gaffer, in fact I think only 0.54.2.0 has it! https://github.com/GafferHQ/gaffer/releases

It could be because I am still building against 0.54.1.0 here and I need to update on my end, I'll look into making a build tonight with 0.54.2.0 with the OSL fix for https://github.com/boberfly/GafferCycles/issues/21

[2019-10-18 08:29] boberfly commented on #21
Alright give this one a whirl and see if you get crashes: https://github.com/boberfly/GafferCycles/releases/tag/0.10.0

[2019-10-18 08:30] boberfly commented on #20
I quickly saw that the Renderer backends for Arnold/Appleseed/etc. got an update to support shader substitutions, so I added the same thing but haven't tested yet:
https://github.com/boberfly/GafferCycles/releases/tag/0.10.0

[2019-10-18 10:36] Kaiz3rTool commented on #21
hi, what a quick fix, I will give it a try asap then let you know

[2019-10-18 10:37] Kaiz3rTool commented on #20
thanks, I will test it soon and let you know

[2019-10-18 10:58] Kaiz3rTool commented on #22
haha yes, I have a bunch of them, I should have 8 one but one died last day so it's not visible here
i can do some tests if needed for multigpu supports

the nvcc error was only with gaffercycles, nothing happened with other softwares or blender when using cycles cpu and gpu.
I tried to install cuda, it seems to fix the problem as I dont have nvcc error and gpu is available in gaffer (I can see a

[2019-10-18 15:47] boberfly commented on #22
That's a better sign now. I made a late 0.10.1 build last night which builds up to sm7.5 hardware which I believe is RTX hardware, the line was missing from Cycles standalone but present in regular Blender which I think removes the need for nvcc at runtime. I was able to successfully run OptiX now after doing that but that requires Nvidia's 435.21 driver as a minimum.

[2019-10-18 17:22] boberfly commented on #20
I did notice you were probably struggling to get a HDRI to function in Cycles. I want to clean this up, but you can achieve it by placing a CyclesBackground node, and connecting a background_shader to this and an environment texture. The mapping on the environment texture needs to be X Z Y (Z & Y flipped) and scale to x -1.0, y 1.0, z 1.0 to have the same mapping as Appleseed. An actual background

[2019-10-18 17:56] Kaiz3rTool commented on #22
hi again,
the last update works well to me with driver 430.50 (as I run it on server I use only Long Lived Branch drivers) I can now render on GPU

In the multi device part i can now see all my GPUs
![image](https://user-images.githubusercontent.com/4272733/67116364-8ce07780-f1e0-11e9-9240-0f0340765783.png)

About the optix part, I didn't found where to activate it

[2019-10-18 17:58] Kaiz3rTool commented on #21
works nicely to me, thanks !

[2019-10-18 17:58] #21 closed

[2019-10-18 18:07] Kaiz3rTool commented on #20
I still have the same issue for now with the attribute

Sorry i didn't understand how to reproduce the hdri workflow, as i cant connect the cyclesbackground and the background shader. do you have a small graph to illustrate it please ?
thanks

cheers

[2019-10-18 22:51] boberfly commented on #22
Excellent! Although bare in mind I want to change this UI eventually so that it uses the +/- icons to add/remove devices as a list that can be interpreted as a varying sized list, that way if you launch a job on another machine it doesn't error if those devices are different but I need to figure out how to make that.

To get OptiX running you will need 435.21 minimum, apparently the logic for v7.0

[2019-10-19 05:52] Kaiz3rTool commented on #22
ok, I will wait a little to have long term driver with optix then, or maybe on a more basic system

ahah, sure ! you can write me at william-at-dothefilm.fr

[2019-10-19 05:52] #22 closed

[2019-10-20 00:52] boberfly commented on #20
Uploaded a hdri.gfr to show what I mean (yeah not too elegant for now).
[hdri.gfr.txt](https://github.com/boberfly/GafferCycles/files/3747331/hdri.gfr.txt)

[2019-10-20 12:45] Kaiz3rTool commented on #20
Hi, thanks for the help, I get it now
I have made some test, I'm having better results when I remove the " -2* " from the rotation expression. without this multiplication, it seems that rotation on background_light match what we expect to see

`import math
import imath

rot_x = - math.pi * ( parent["background_light"]["transform"]["rotate"]["x"] / 360.0 )
rot_y = math.pi * ( parent["background_lig

[2019-10-20 12:45] #20 closed

[2019-10-20 20:58] boberfly commented on #20
Awesome! As long as it matches the other renderers and visualiser and works for you all good, the -1 is because the image should be inverted as the sphere is the one capturing the light and not the light visual itself.

I have some more fixes coming, as I noticed the convert_X_to_Y shaders weren't getting translated right when I tried them.

[2019-10-24 06:08] edmondeng opened #24 "shader assignment plug dragging direction affect result (black"
![screenshot](https://user-images.githubusercontent.com/4751948/67457906-c0a90c00-f5e9-11e9-955f-8914bfdfb00a.jpg)

In 0.10.2 i can consistently get black solid no shading when plugging from the shader assignemnt to a shader however it works fine dragging to the shader assignment from a shader.

e

[2019-10-24 06:10] edmondeng commented on #24
WARNING : IECoreCycles::ShaderNetworkAlgo : Couldn't find socket output "" on shaderNode "shader:d969474247b8c6a68b0728d7a0a8049f:add_closure"

WARNING : IECoreCycles::ShaderNetworkAlgo : Couldn't find socket output "" on shaderNode "shader:72e5800843fa6a9f340c30b0b34551da:principled_bsdf3"

These are 2 warnings when dragging from shader assignment to the add closure node and a principled with a b

[2019-10-24 18:33] boberfly commented on #24
I wonder if I can just summon @johnhaddon by putting his name here. This looks like a very old issue that John fixed long ago for me so that ShaderNetwork specifies the specific output parameter name. Maybe it is a detail I need to supply though for when connections are done from ShaderAssignment to a CyclesShader but I am not sure...

[2019-10-24 18:52] boberfly commented on #6
@murraystevenson kindly tested a scene with curves and supplied a PR fix here:
https://github.com/boberfly/GafferCycles/pull/23

So CurvesPrimitive should convert now, but it has been reported that the curve settings in CyclesOptions aren't being set right yet.

[2019-10-25 05:07] edmondeng opened #25 "render:cropwindow not functional"
I think cycles are maybe calling this a render border.

It is faster for rendering dev to have a working crop.

e

[2019-10-25 08:40] johnhaddon commented on #24
Hey Edmond, can you run the following for each of your connection directions (the green and the red)?

```print root["ShaderAssignment1"]["shader"].getInput().fullName()```?

Let us know what you get...

[2019-10-25 17:15] boberfly commented on #24
It might be an "*I done goofed*" here and just need to re-instate this blindly copy-pasta'd code I found once in ArnoldShader.cpp

https://github.com/boberfly/GafferCycles/blob/master/src/GafferCycles/CyclesShader.cpp#L104

[2019-10-25 19:50] alexnardini commented on #24
I did read “pasta” somewhere so, I’m in !

Sent from my iPhone

[2019-10-27 20:55] boberfly commented on #16
Progress
![Screenshot_20191027_135337](https://user-images.githubusercontent.com/5601445/67641702-5df19200-f8c1-11e9-8b8f-0abd0e023312.png)
Still can't seem to make it actually render past the bounds here (I believe Cycles creates an outer geometry layer for optimisation, this is what is seen here afaik).

[2019-10-28 15:28] boberfly commented on #16
![Screenshot_20191028_074931](https://user-images.githubusercontent.com/5601445/67692086-de190580-f95c-11e9-9023-18164d96b765.png)

[2019-10-28 15:34] boberfly commented on #16
A few issues with the GSoC 2018 patch:
- the built-in volume re-mesher for optimisation likes to run each time there's a simple change to the scene, hopefully we can fix this in Cycles code.
- This is quarter res wdas_cloud.vdb and using the full res one the time to first pixel is crazy, maybe we can just get OpenVDB to generate the mesh instead.
- Increasing density looks like the isovalue of the

[2019-10-28 20:40] edmondeng commented on #24
I will be able to do John’s print out when I get the scene working again. My driver might have reset or something as a fully working scene won’t open

[2019-10-29 14:16] Kaiz3rTool opened #28 "rendering scene from alembic can crash because of unknown normal"
Hi
I tried a new scene from maya
when I render it in intereactive mode, the image compute but the terminal return this

`WARNING : MeshAlgo : Variable "N" has unsupported interpolation type - not generating normals.`

but the image looks as it should
with the same settings, rendering the image with cycles render node wont render anything then crash gaffer with both local dispatcher and deadline

h

[2019-10-29 16:46] boberfly commented on #28
Hey @Kaiz3rTool

I couldn't find a way for Cycles to support FaceVarying normals so I put that warning in and do an early-exist, most likely Cycles generates a re-normalised per-vertex normal itself I'd say. If you want to remove the warning, running a MeshType node which re-generates normals can do the trick, or a ResamplePrimitiveVariables node and change N to vertex.

The crash that you're gett

[2019-10-29 16:59] boberfly commented on #24
I didn't do a print but I have noticed if I use a cclOutput node and connect a surface or volume connection to this, it shows me the string name of the incoming connection, and it does come up as like `principled_surface.out` incorrectly or `principled_surface.out.BSDF` correctly.

[2019-10-30 08:52] Kaiz3rTool commented on #28
hi,
thanks, the meshType, it does the trick
I have tried to separate batch / interactive and also to only use a single beauty output, I still have the same issue with no image writed on disk
the server stay at 100% CPU, as usual for rendering task, but nothing goes out and the log doesn't return anything

[2019-10-31 05:40] edmondeng commented on #24
FYI,  @johnhaddon  either connection order produces same output. But seems like Alex knows what's goin on.

print root["ShaderAssignment1"]["shader"].getInput().fullName()
gui.scripts.ScriptNode.principled_bsdf.out.BSDF
print root["ShaderAssignment1"]["shader"].getInput().fullName()
gui.scripts.ScriptNode.principled_bsdf.out.BSDF

[2019-10-31 05:44] edmondeng opened #29 "Gaffer>Settings>Variables image:catalog:port existence makes no render occur"
So I am un-able to explain how this got into the global variables but on scenes which were rendering fine there was no entry and so on a scene which worked fine but recently stopped working I was able to delete this entry and things were going again.

Do we know when these variables appear and why?
![screenshot](https://user-images.githubusercontent.com/4751948/67922053-cf05a380-fb66-11e9-8365-d4f

[2019-11-01 13:45] edmondeng commented on #29
The issue and solution Seems obvious yet the only real question is what scenario this is automatically put into the settings. I was running multiple sessions and was stopping starting renders in each session.

[2019-11-11 08:04] boberfly commented on #24
Big massive hint here. If I drag the shader assignment onto the node itself it'll plug to the .out plug, but if you highlight the explicit nodule with BSDF on it, it works. See screenshots:
![bad_connect](https://user-images.githubusercontent.com/5601445/68570958-b030c800-0416-11ea-99db-ea9e280c5b43.png)
![good_connect](https://user-images.githubusercontent.com/5601445/68570960-b0c95e80-0416-11ea-

[2019-11-12 09:18] johnhaddon commented on #24
Ah! I think I see what is happening. Could you see if this commit fixes it for you?

https://github.com/johnhaddon/gaffer/commit/8c4fec02d1a1d262321d7607b1c44b2849ca5fa5

[2019-11-12 11:16] boberfly commented on #24
Hey @johnhaddon
I haven't tried this just yet but I had another thought after @murraystevenson gave me a patch for a cycles shader ball, does a default .out need to be established when clicking on a given shader node for it to be able to view as well? I haven't had a close look to this but he did note it and it isn't working right now.

[2019-11-12 11:32] johnhaddon commented on #24
The Viewer is the thing that decides what to connect into the ShaderView, and it connects the first plug that `ShaderView["in"]` will accept, which I believe will be `CyclesShader.out` in this case. You may be able to work around this by making `CyclesShaderBall.acceptsInput()` reject that connection - maybe that's what Murray's patch does?

I'd like to step back a bit and fill a gap in my knowled

[2019-11-12 11:45] boberfly commented on #24
For uber-shaders like the principled_bsdf there is only one called BSDF but some shaders have multiple outputs and I need to know the particular name for Cycles to know what to connect to, like some are named BSSDF like the subsurface closure for example. Other shaders have multiple out connections as well.

[2019-11-12 12:07] johnhaddon commented on #24
Is there ever a time when you'd want to assign the BSSDF from one shader _as well as_ the BSDF from another? Or is it fine that an upstream assignment from BSSDF would be overridden by a downstream assignment from BSDF?

[2019-11-12 12:22] boberfly commented on #24
Hmm, I would say you'd replace the ccl:surface attribute to the object with one or the other but not both. You can use a mix shader to combine multiple closures with a mixing weight value and connecting that up to the ccl:surface attribute, so I am guessing the latter if I understand correctly.

Having a think about it, perhaps just not accepting .out as a valid connection and always defaulting to

[2019-11-13 10:48] johnhaddon commented on #24
Cool. I just wanted to check that the way Gaffer is doing things (minus the problem we're talking about) fits Cycles reasonably well, and it seems like it does, so that's good.

For other shader types we do currently need to accept `.out` as an input - for instance, ArnoldShaders always have a single output, which we represent as `.out` rather than `.out.foo`. I think this was probably a mistake a

[2019-11-14 13:36] boberfly commented on #24
Hey @johnhaddon
Just reading your updated reply now. I did a sneaky fix on the ShaderNetwork conversion code which makes the ShaderBall preview work also:
https://github.com/boberfly/GafferCycles/blob/master/src/GafferCycles/IECoreCyclesPreview/ShaderNetworkAlgo.cpp#L436
There might be potential issues with this in-future, but for the most part it is working...

[2019-12-16 19:11] acorsei opened #34 "cyclesOption node is empty"
creating a cycleOption node results in an empty node. see bellow screencapture and console output. thanks

![Screenshot_gaffer_20191216200855](https://user-images.githubusercontent.com/7030609/70935251-0f9a7d00-2040-11ea-8010-468d34d7df44.png)
Traceback (most recent call last):
  File "/media/Media_B/repo_lnx/gaffer-0.55.1.0-linux/python/GafferUI/Widget.py", line 937, in eventFilter
    self.__sho

[2019-12-16 20:23] boberfly commented on #34
Hey @acorsei

Is this with the experimental build I just published? It's pretty raw but cheers for the heads-up I know what it is to fix it, I'll make a new build when I get home tonight.

Cheers!

[2019-12-16 22:43] acorsei commented on #34
Hi @boberfly
Confirmed, it’s the experimental build. No worries, great job and will let you know if hit in others matters.
Amazing and thanks a lot,
Regards

[2019-12-17 16:26] boberfly commented on #34
Hey @acorsei

I've fixed this build here:
https://github.com/boberfly/GafferCycles/releases/tag/0.12.0-experimental

Cheers

[2019-12-17 18:20] acorsei commented on #34
Thanks @boberfly
that fix the matter.

[2019-12-17 18:20] #34 closed

[2019-12-17 19:04] acorsei opened #35 "lights in 0.12.0"
Hi @boberfly,
Seems like none of the lights are working in GafferCycles 0.12.0-experimental.
Please check enclosed simple script in case is something wrong on my end .
Thanks

[cycles_test.gfr.zip](https://github.com/boberfly/GafferCycles/files/3974972/cycles_test.gfr.zip)

[2019-12-18 02:31] boberfly commented on #35
Hey @acorsei

Try this:
[cycles_test.gfr.zip](https://github.com/boberfly/GafferCycles/files/3976353/cycles_test.gfr.zip)

It just needed a path filter to the sphere itself for the shader assignment. Assigning it to everything inadvertently looks like it applied the shader to the light also which just makes everything black.

Cheers

[2019-12-18 02:31] #35 closed

[2019-12-19 14:08] acorsei commented on #35
all good! thanks

[2020-01-08 10:59] boberfly commented on #4
https://github.com/boberfly/GafferCycles/releases/tag/0.13.0

Needs checking in a compositing package

[2020-01-08 10:59] boberfly commented on #12
https://github.com/boberfly/GafferCycles/releases/tag/0.13.0

In cycles standalone now

[2020-01-08 10:59] #12 closed

[2020-01-08 11:01] boberfly commented on #19
Going to close this as things have changed/stabilised greatly since this build.

[2020-01-08 11:01] #19 closed

[2020-01-08 11:02] boberfly commented on #24
Working right now, feel free to re-open if it's not. Connections can still go onto the node itself so it might be a gotcha if you are not wanting to use the first out plug.

[2020-01-08 11:02] #24 closed

[2020-01-08 11:04] boberfly commented on #29
Seems like a funky Gaffer-specific issue, going to close it.

[2020-01-08 11:04] #29 closed

[2020-01-08 11:04] boberfly commented on #25
I believe the PR https://github.com/boberfly/GafferCycles/pull/26 fixed this. Closing.

[2020-01-08 11:04] #25 closed

[2020-01-08 11:06] boberfly commented on #28
Hey @Kaiz3rTool this was another issue with batch mode, I can verify that batch mode is working great for me in https://github.com/boberfly/GafferCycles/releases/tag/0.13.0 so I'll close this.

[2020-01-08 11:06] #28 closed

[2020-01-08 11:09] boberfly commented on #5
https://github.com/boberfly/GafferCycles/releases/tag/0.13.0 stabilises things greatly with a mutex lock over the scene in the render function, and shaders get deferred now so they don't crash.

I think that almost-unreasonable changes like BVH/device or between SVM/OSL shader backends may crash things, so I will leave this open and push the milestone to post-1.0.

[2020-01-08 11:11] boberfly commented on #6
CyclesOptions are working, true PointsPrimitive with https://developer.blender.org/D3818 I am moving to post-1.0.

[2020-01-09 00:27] boberfly opened #36 "Support uniform subdivision in addition to adaptive"
More of a Cycles-specific patch. Currently Cycles relies on Blender to do uniform subdivision so this makes it currently impossible to just tag a mesh as uniform subdivision over adaptive.

The code here looks like we could use ->UniformRefine() by what we see from SubdivisionType
https://github.com/boberfly/cycles/blob/77086fc932a05d52a86781f3d081698b3c9ad2a9/src/render/mesh_subdivision.cpp#L182

[2020-01-22 08:28] boberfly opened #37 "Documentation"
Official Blender documentation:
https://docs.blender.org/manual/en/dev/render/cycles/index.html
https://developer.blender.org/diffusion/BM/browse/trunk/blender_docs/manual/render/

Cycles4D documentation:
http://manual.cycles4d.net/

Gaffer DocumentationAlgo:
https://github.com/GafferHQ/gaffer/blob/master/doc/source/Reference/NodeReference/generate.py

The plan is to use Sphinx + ReadTheDocs + Rec

[2020-01-26 17:08] kubo-von opened #38 "Hair rendering crashes"
I don't know if this should be working or not yet.
But I've made a simple example scene with hair exported from Houdini. It works with Arnold but crashes with cycles:
`./gaffer.sh: line 8: 51608 Segmentation fault      (core dumped) ./gaffer`
I've uploaded the gaffer scenes and source alembic here:
[https://drive.google.com/drive/folders/1vJNTeAAqrYOB_4GQY032V1JsuPX4-D5J?usp=sharing](url)
Hope it

[2020-01-26 17:16] kubo-von opened #39 "GPU not showing in devices"
My GPU is not showing in devices. It works fine with cycles in Blender both as optiX and CUDA device. Also GPU rendering with Arnold in gaffer works.
Is this expected to work ? Are there any tricks to make it show up ?
Thanks!

Fedora 31
RTX 2070, driver 440.44

[2020-01-26 23:42] boberfly commented on #38
Hi @kubo-von

Thank you for the test data I am after that kind of stuff to finish GafferCycles to 1.0, I'll throw this at the debugger and see what is happening soon.

Cheers

[2020-01-26 23:46] boberfly commented on #39
Hi @kubo-von

This is something which is happening for some people as well as the Windows build and I am not sure why, as it works great locally here in Linux with my RTX 2070. I have Cuda 10.2 installed so it might be why, but I am not sure what Blender is doing differently to make it work without the Cuda requirement (the cubin + optix ptx files are bundled with GafferCycles).

Cheers

[2020-01-27 11:20] kubo-von commented on #39
After installing CUDA 10.2 rpm from here: https://developer.nvidia.com/cuda-downloads
GPU shows up and works, both as CUDA and OPTIX device.
Thanks a lot @boberfly !

[2020-01-27 14:11] kubo-von opened #40 "color primvar does not work"
Hi @boberfly !
I wanted to try how primvars on geometry work with cycles.
On geometry from USD float works well, but color/vector does not read and is throwing this error:
`WARNING : IECoreCyles::AttributeAlgo::convertPrimitiveVariable : Variable "testColor" has unsupported type "V3fVectorData" (expected FloatVectorData).`
On alembic the float is messed up and color still doesn't work.

![primvars

[2020-01-27 16:13] boberfly commented on #39
No worries @kubo-von but I would like to eventually get it to work without cuda so I will keep this open. Cheers!

[2020-01-27 16:14] boberfly commented on #40
Hmm interesting I'll take a look, should be an easy fix thanks for the test data.

[2020-01-27 16:16] boberfly opened #41 "Unit tests"
Make some unit tests to catch problems to get GafferCycles production ready and stable for a "v1.0" release.

[2020-01-28 07:35] boberfly commented on #38
Hey @kubo-von
When I put a DeletePrimitiveVariables and removed customWidth (and left width alone) it seems to work and not crash. I am investigating now on why it is crashing though, but I can see where it is crashing (Cycles isn't giving me a data pointer to the attribute for some reason). I'll review this code soon which looks related to https://github.com/boberfly/GafferCycles/issues/40.

[2020-01-28 11:47] kubo-von commented on #38
Hey @boberfly
Yeah that seems to fix the crash. Thanks!

Another thing related to this is hair info node
[https://docs.blender.org/manual/en/latest/render/shader_nodes/input/hair_info.html](url)
Should it work or it's more of a Blender hair/particle system thing?

Also in blender there are some settings for the curve subdivision [https://docs.blender.org/manual/en/latest/physics/particles/emitter/

[2020-01-28 14:57] kubo-von opened #42 "Per-instance attributes support"
Hi @boberfly
not sure if Cycles can do this atm, but here's and example scene.
![Screenshot from 2020-01-28 14-59-50](https://user-images.githubusercontent.com/46250374/73274450-dd0aa500-41e5-11ea-861e-7baa06bf2025.jpg)
(arnold render)
Cube is being instances onto points which float attribute, that attribute is then passed as per-instance attribute by the instancer.
arnold and cycles scenes + sour

[2020-01-28 17:46] kubo-von opened #43 "image_texture node Colorspace UI enhacement"
Hey @boberfly,
This is more of a enhacement suggestion.
First I though that the colorspaces are not working
but after playing with the image_texture node for little I found that typing in the values exactly the same way as in Blender works eg:
_sRGB
Non-Color_
or if OCIO is set to ACES
_Utility - Linear - sRGB
srgb_texture_
etc..

It would be more handy to have a drop down menu so one does not hav

[2020-01-28 18:04] boberfly commented on #42
Hi @kubo-von

This is partially supported, however it is a limitation of Cycles only having a few available constant values to use. I briefly mentioned them in the second post of this ticket: https://github.com/boberfly/GafferCycles/issues/6

The other one for colour tint is "Cs", so if you promote these primvars from a pointcloud to the instancer as an attribute with those exact names, they shoul

[2020-01-28 18:55] kubo-von commented on #42
Hey @boberfly !
Using particle_info values works and it should give enough values to work with. Thanks for the tips !
Maybe if "Everything nodes" project continues well they will have to remove this limitation from cycles eventually.

[2020-01-28 20:26] boberfly commented on #42
You might get a crash if you go crazy with edits in IPR mode and setting those attributes in particle_info, I think Cycles isn't too thread-friendly when modifying these (I could be wrong and it's perfectly fine now as I am making sure to set the mutex lock in the right spot).

[2020-01-28 22:29] boberfly commented on #43
Hey @kubo-von

I have only very recently started building with OCIO after fixing a linker issue so I'm glad this does work with the right strings! :)

The GafferArnold implementation I think also suffers from this issue with aiImage nodes, I'm curious to see what happens there, but I can imagine just making an enum list of strings that gets generated from some listing from OCIO would be the way to

[2020-01-28 22:55] kubo-von commented on #43
Haha, ok so I'm digging into it while its still fresh from the oven :D

Arnold seems to have the same thing indeed,but it seems it has just three hardcoded values "linear, srgb and rec709"

I wish I could be of more help, but my programming skills don't go beyond Python. Can only provide test data and bug reports/cheeky enhancement suggestions. I'm testing features I use in other renderes now and

[2020-01-29 01:29] boberfly commented on #43
Yep keep the test scenes coming I want to fix these issues so that a polished feature-complete release can be made (good timing as Gaffer 0.56.x is near as well as Blender 2.82 with a stable Cycles release). Cheers

[2020-01-29 02:42] boberfly commented on #40
A brief look into the data:
- ABC has the float primvar set to varying, setting to vertex with a ResamplePrimitiveVariables node makes it match USD. This does show that 'varying' is possibly not working correctly, but I would need to compare against Arnold/Appleseed to see what they do with that data.
- The float color is missing from the ABC, but the USD one is there and not working (I'll investi

[2020-01-29 08:20] #38 closed

[2020-01-29 08:22] boberfly commented on #40
Fixed here:
https://github.com/boberfly/GafferCycles/commit/513d86ab6f8341f7f7a4f83f0a2979d6411ec89a

The alembic cache I think just has to have the right interpretations on the primvars, I can see the Gaffer SceneReader is having problems in the terminal:
`WARNING : FromAlembicGeomBaseConverter::convertArbGeomParam : Param "testColor" has unsupported array extent`

[2020-01-29 10:50] kubo-von commented on #40
Interesting!
When I promote the variables from point to vertex in Houdini before export, testFloat in alembic works well. USD exporter must be doing that under the hood.
testColor still giving the same error though

[2020-01-29 11:38] kubo-von opened #44 "Subdivision/Displacement not working"
Hey @boberfly,
I could not get displacement and subdivision to work.
Maybe I'm doing something wrong? I didn't find any more settings than these:
![Screenshot from 2020-01-29 12-31-25](https://user-images.githubusercontent.com/46250374/73353412-95daed80-4293-11ea-8f7d-d2e683d8c479.jpg)

![Screenshot from 2020-01-29 12-31-59](https://user-images.githubusercontent.com/46250374/73353425-9c696500-4293

[2020-01-29 18:44] boberfly commented on #44
Somewhat duplicate of this: https://github.com/boberfly/GafferCycles/issues/36

Blender devs decided to do uniform subdiv from Blender so there's no way of doing it outside of adaptive, need to write that one myself. As for displacement you are doing the right thing from what I see.

[2020-01-29 18:48] boberfly commented on #38
Hey @kubo-von

Those values are in the CyclesOptions, as they're currently globals to Cycles and not per-object for some reason.

Cheers

[2020-01-29 18:53] boberfly commented on #40
Is the USD testColor working? It seemed to work on my end here. If you mean Alembic then that bug might need to go to Cortex/Gaffer directly.

[2020-01-29 18:55] kubo-von commented on #44
I've been looking at #36, but that means adaptive should be working?
Some subdivision is happening but changing the dicing rate and max subd don't change anything

[2020-01-29 19:13] boberfly commented on #44
Cycles might not support changing those settings while it is in IPR mode. Also make sure experimental is set in CyclesOptions. I'll take a look soon.

[2020-01-29 19:23] boberfly commented on #38
About the hair_info shader, the code converting curves & particles is very confusing in the Blender-side when it refers to particles, I haven't looked into the specifics of this yet but perhaps it just requires specifically named primvars to function, the notion of "particles" is Blender-centric from what I remember when digging into it when it really means per-strand primvar.

[2020-01-29 20:16] kubo-von commented on #40
testFloat on alembic is working, If I use ResamplePrimitiveVariables like you suggested or re-export the abc from Houdini with it being vertex attribute, not point. I will report this on gaffer-dev.

testColor is not working, even on USD I think for that I'd need to have the 513d86a fix you did?
I'm on latest release version of gafferCycles. Should really find the time to learn how to compile it!

[2020-01-29 21:26] kubo-von commented on #44
Ah alright! subdivision works, my apologies! Yeah I had to restart IPR render every time. also I was't putting meaningful values into dicing scale, either to small to see the change or to big that the mesh never generated (seems the subdivision process is single-threaded ? )

No luck with Displacement though.

[2020-01-30 00:50] boberfly commented on #40
Oh right my bad I thought you were building yourself because you were saying the hair doesn't crash now. All good I'll be making a new build soon, no ETA but probably this week or weekend, I'd like to fix more of those bugs first.

[2020-01-30 01:28] boberfly commented on #44
Yeah I noticed it was single-threaded too, is Blender? Might just need opensubdiv to be compiled with TBB/OpenMP.

[2020-01-30 15:37] kubo-von commented on #44
Yeah seems to be the same in Blender, I've just tried it.

[2020-01-31 08:18] boberfly commented on #44
Fixed displacement in this commit: https://github.com/boberfly/GafferCycles/commit/464e1390ca1c3eb3f1ed9390be54a3b6eb3300d8

Turns out all the settings of the output node wasn't being set to the right node (I somewhat merged the "outputNode" with the actual "shader node" to simplify things, but in the converter forgetting to set the values to the proper respective nodes under the hood).

[2020-01-31 19:09] kubo-von commented on #44
Awesome!
Yeah, merging those two makes sense, less nodes to put down.

[2020-01-31 19:21] boberfly commented on #44
One thing which is a big ooof, in interactive rendering when swapping shaders around, it is making Cycles really unstable or it's applying the displacement in an additive way each edit, so it's not fully solved yet. Need to study what Blender is doing to prevent that...

[2020-02-02 15:43] kubo-von commented on #43
Alright so actually after learning more about Gaffer (Why are the resources like the Gaffer blog so hard to find ? :D )
I found how to do this myself with simple python in startup script like so:
[code]
![Screenshot from 2020-02-02 16-34-25](https://user-images.githubusercontent.com/46250374/73610673-4a4d7a00-45da-11ea-9edb-efa260f05a58.jpg)

It'd be still handy to have a comboBox for this, I'll d

[2020-02-02 22:04] boberfly commented on #43
Whoa that's pretty cool! You should share that approach on the Gaffer forums so it benefits Arnold and other renderers which could use this.

[2020-02-03 17:56] kubo-von commented on #43
Sadly it does not really work for Arnold, it seems they have just 2 hardcoded values there.
Cycles support of OCIO is better :) I've send it to the forums anyway though, still might be useful.

[2020-02-03 18:28] boberfly commented on #44
Just an update it is partially working:
https://github.com/boberfly/GafferCycles/commit/c7630621dbea23ce12b92963723fc7fdf9116f9a

But John on the forums has given me a better idea, return false on attribute assignment which can't be applied and the renderer interface will send down a new geo, which is exactly what I need to re-generate displacement, especially for adaptive/subdivided geo where my

[2020-02-04 07:25] boberfly commented on #44
Fixed, seems to work well and also fixes issues with shader hashing.
https://github.com/boberfly/GafferCycles/commit/2554ca813dbf6e3fd26d9cbe95b3fdc4ddcd72a1

[2020-02-05 05:08] boberfly commented on #39
@kubo-von this build shouldn't need Cuda installed anymore:
https://github.com/boberfly/GafferCycles/releases/tag/0.16.0

[2020-02-05 10:17] kubo-von commented on #44
Can confirm it works great in 0.16.0 !
Subdiv still needs render restart when changing the tessellation settings, but so does in Blender..
Do you want me to close these once working in current release ?

[2020-02-05 11:07] kubo-von commented on #40
Confirming this is fixed in 0.16.0 release :)

[2020-02-05 20:20] boberfly commented on #44
Hmm I wonder if it's a Cycles limitation. Could you try changing the subdiv settings and then after, do a very small change to displacement and see if the subdiv changes to what it should be? That'll tell me straight away if it's just a hashing issue or that Cycles is not running tessellate during interactive rendering.

Cheers!

[2020-02-06 09:21] carstenkolve commented on #40
hmm, tried rendering the usd kitchen set which has a constant color 'displayColor' in its primvars. was not able to get it to get picked up by my principled shader. my shell is full with warnings like these, though - so maybe that is related?

`IECoreCyles::AttributeAlgo::convertPrimitiveVariableWARNING :  : Variable "st" has unsupported type "V2fVectorData" (expected V3fVectorData).WARNING
Variab

[2020-02-06 11:27] kubo-von commented on #44
I've did what you suggested and after many tries I've failed to find a consistent behavior :/
Sometimes it does update sometimes it doesn't, sometimes it takes a while.
I will have more time to play with gaffer and cycles in following weeks so I will do more tests and get back to you if I find any clues.

To be honest I'm not a big fan of Cycles's adaptive tessellation, it's very unpredictable. I

[2020-02-06 11:46] kubo-von commented on #39
Hey @boberfly, I can confirm 0.16.0 has GPU working even after removing Cuda. Thanks!

[2020-02-06 17:47] boberfly commented on #39
Hey @kubo-von

At least on Windows I am getting an error not finding the device in the console so it shows but it might not be working, I found a bug in Cycles itself where querying the devices twice gives different results. I am not sure if the devs will accept my patch so I have another idea to only do this query once. I'll keep this open until I do that.

[2020-02-06 18:26] boberfly commented on #40
Hey @carstenkolve

I'll take a look at the kitchen sink asset next and stress test it a bit. I think for st the primvar needs the GeometricData to be tagged as UV by Gaffer perhaps, maybe @dboogert might know more on why the USD importer isn't doing that, but perhaps I can ignore needing that set and give it to Cycles as a vec2. The other ones might just be me being lazy and only implementing vec3

[2020-02-06 22:12] carstenkolve commented on #40
Not sure I quite understand the second part of your post? Are you saying it is not possible to drive a shader color using an arbitrary constant color primvar? I tried using OSL InColor (also switched the shading system to OSL prior) but sadly that seems to results in hangs.

[2020-02-07 02:18] boberfly commented on #40
Hey @carstenkolve

There's a colour option on the CyclesAttributes node which should have that value available through the object_info node. It's just setting the "Cs" attribute under the hood and should pick up in Cycles, so with the instancer node that could be picked up from a point cloud as well. Cycles only has a few per-object constant values that it supports, so the OSL InColor would only w

[2020-02-09 06:43] boberfly commented on #40
Some fixes coming in:
https://github.com/boberfly/GafferCycles/commit/18d2b1e79eca024dd1d5fbb717505a0a9d95835d

Although I think this is running into a bug in Cycles, seems like constant values don't work but if I re-sample them to per-vertex they are working.

[2020-02-09 21:20] boberfly commented on #40
And fix for the Cycles-side, hopefully it gets accepted without issue:
https://developer.blender.org/D6794

[2020-02-10 22:46] kubo-von opened #45 "Panoramic camera support"
Cycles in Blender support other camera models like fisheye, mirroball etc, it could be useful to have those in Gaffer as well.

![Screenshot from 2020-02-10 22-41-26](https://user-images.githubusercontent.com/46250374/74197204-42877880-4c5f-11ea-86a2-03d5d9ead67a.jpg)

Not sure where these settings would live though.
cyclesAttributes or cyclesOptions?

Cheers

[2020-02-10 23:02] sschwungsau commented on #45
+5 for fisheye !

On Mon, 10 Feb 2020 at 14:46, Jakub Vondra <notifications@github.com> wrote:

[2020-02-10 23:42] boberfly commented on #45
Sure, sounds good.

[2020-02-11 08:09] boberfly commented on #45
https://github.com/boberfly/GafferCycles/commit/ddc6b79cd0f495b889e6f457c0f0d376c2aac993

I was just using a CameraTweaks node to specify custom options, this is much like how Arnold is treated right now, so no nice UI really (yet) but it did work from what I see.

[2020-02-15 22:44] boberfly commented on #39
I think by https://github.com/boberfly/GafferCycles/commit/2bf952ad299c61f3cfcae2d32cc6ae95f60bac44 this should be resolved now and not fail to find the .cubin or .ptx files, nor fail on iterating available devices multiple times due to the IECoreCycles code caching all devices once at startup. Closing this one.

[2020-02-15 22:44] #39 closed

[2020-02-15 22:46] boberfly commented on #40
Hey @carstenkolve

This build should have all of those fixes as well as a silly bugfix with OSL parameters which should make it not crash now:
https://github.com/boberfly/GafferCycles/releases/tag/0.17.0

Cheers

[2020-02-15 22:52] boberfly commented on #45
Hey @kubo-von and @sschwungsau

This build should have a way to set these via a CameraTweaks node:
https://github.com/boberfly/GafferCycles/releases/tag/0.17.0

I was able to do panoramas by adding the string parameter `panoramaType` and setting it with:
`equirectangular, mirrorball, fisheyeEquidistant or fisheyeEquisolid`

https://github.com/boberfly/GafferCycles/blob/master/src/GafferCycles/IECo

[2020-02-15 22:59] sschwungsau commented on #45
coolio ! thanks !

[2020-02-16 11:31] kubo-von commented on #45
Awesome, thanks @boberfly !
I'll look into how to add the parameters automatically with python.

[2020-02-18 21:48] kubo-von opened #46 "Deformation motion blur not working/failing"
Hey @boberfly !
It seems deformation motion blur is not working.
Test scene:
![mb_optimized](https://user-images.githubusercontent.com/46250374/74777699-50aa4a00-529a-11ea-9f7e-4264cf878c66.gif)
gaffer Sphere animated with transform node, deforming alembic mesh, deforming hair.
render:
![Screenshot from 2020-02-18 21-51-14](https://user-images.githubusercontent.com/46250374/74778092-21e0a380-529b-

[2020-02-18 22:15] boberfly commented on #46
Hey @kubo-von
I'm guessing these geos have stable topology? Also does it have motion steps? I'll take a look soon, thanks for the test data.

[2020-02-18 22:41] kubo-von commented on #46
Yeah it's just deformation, no topology changes. The Alembics were exported with 2 motion blur samples from Houdini. I've just checked it's working in Gaffer Arnold:

![Screenshot from 2020-02-18 23-40-28](https://user-images.githubusercontent.com/46250374/74784399-18116d00-52a8-11ea-80a8-5517dbce3840.jpg)

[2020-02-19 17:59] boberfly commented on #46
Hey @kubo-von

This one is a bit of a head-scratcher for me to meet in the middle what Gaffer is sending to the renderer (basically just the shutter open/close frames) and what Cycles wants (shutter open, frame itself and close frames) and the Blender converter code is confusing, so it'll take me a bit of time (fixing transform blur first). My assumption right now is that in the transform case, it

[2020-02-20 15:22] kubo-von commented on #46
Hey @boberfly

Ah right, that explains the glitches with transform I'm getting. Thanks for looking into this!

I've also checked if cycles handles motion blur on meshes with changing topology  and it seems not yet, it's waiting for [D2388](https://developer.blender.org/D2388)
Some workaround are doable though, like [Flip Fluids](https://github.com/rlguy/Blender-FLIP-Fluids/issues/87#issuecomment-4

[2020-02-20 19:20] boberfly commented on #46
That's more of a blender-specific patch, you can do something similar today with an OSLCode node that pushes the verts with a velocity primvar.

Anyways, I had the system explained to me clearly and it sounds like I am on the right track, but I'll need to lerp a few verts and matrices (fortunately Cortex rocks and has everything I need to do this).

[2020-02-20 20:43] kubo-von commented on #45
Hey @boberfly
I've been trying to get it work for a while but either I'm not doing it right or something is off.
Without panoramic:
![Screenshot from 2020-02-20 21-19-57](https://user-images.githubusercontent.com/46250374/74975827-f8a14e00-5427-11ea-8e32-26291846a9c5.jpg)
With panoramic:
![Screenshot from 2020-02-20 21-19-10](https://user-images.githubusercontent.com/46250374/74975855-035be300-542

[2020-02-20 22:07] boberfly commented on #45
Hey @kubo-von
Can you simply just rotate the camera itself to adjust it? I am doing some funky matrix conversion to get it to work with cameras in general eg.
https://github.com/boberfly/GafferCycles/blob/master/src/GafferCycles/IECoreCyclesPreview/Renderer.cpp#L2641

[2020-02-21 12:30] kubo-von commented on #45
Hey @boberfly
Playing with it more I've managed to get the same view by rotating the camera
![Screenshot from 2020-02-21 13-21-40](https://user-images.githubusercontent.com/46250374/75034433-7eb3a800-54ad-11ea-8894-ee19fe0300ff.jpg)
![Screenshot from 2020-02-21 13-21-15](https://user-images.githubusercontent.com/46250374/75034445-82dfc580-54ad-11ea-9b49-f4b25349807f.jpg)
But not by any logical val

[2020-02-21 20:25] boberfly commented on #45
Ahh radians alright, yeah I have had to make conversions of that in many places I can do this with those values also.

[2020-02-21 22:28] kubo-von commented on #45
Cool!
As for the orientation of the camera, this is just a long shot, but maybe the Y and Z axis are not switched ? Because for environment_texture is also rotated like this unless you switch Y and Z axes in the mapping section.

[2020-02-22 01:54] boberfly commented on #45
Yeah I am thinking it's this. Not sure what to do about it though without modifying Cycles source code eg. flipping some stuff here:
https://github.com/boberfly/cycles/blob/ac1d47427950769a7b022fdb85fb84d003d3f72a/src/render/camera.cpp#L400

[2020-02-24 22:51] boberfly commented on #46
Some progress: Transform is fixed but I'm not sure if the blur streak should be shrinking with more segments, I need to see what Arnold does here (increasing transform segments) but it seems wrong to me? Anyways, onto deformation now once I get a bit of time again.

[2020-02-25 07:51] boberfly commented on #46
Got the fix here: https://github.com/boberfly/GafferCycles/commit/b4366173fe86226e2b6886d4dd615b86c46c4fe3

The parts I'm not too sure about are the multiple motion segments and camera shutter for accuracy against Arnold, but that is hopefully the easier part.

[2020-02-25 10:06] boberfly commented on #46
![Screenshot_20200225_020544](https://user-images.githubusercontent.com/5601445/75236956-68d70900-5773-11ea-9b2c-b4caaf9a2ec9.png)

[2020-02-25 16:07] kubo-von commented on #46
Awesome! Just tested it and seems to be working great.

I wanted to do some more tests with more motion steps (I assume that's what motion segments are?) and compare to Arnold. But could not find where top set these ? In Blender cycles it's per-object attribute. I've tried adding custom "motion_steps" attribute but no luck.

[2020-02-25 16:46] boberfly commented on #46
The settings are in a StandardAttributes node. I'm seeing the motion streak shrink with more steps so I am wondering now if Blender does this as it could be a bug in Cycles itself.

[2020-02-25 17:21] kubo-von commented on #46
Ah, right, sorry, don't know my gaffer nodes well enough yet :)

I see that too in gaffer. It doesn't seem to happen in Blender, but rotating object with one step looks like this there, and the motion steps have no effect what so ever, so it seems it's doing something else under the hood.

![blender_cycles](https://user-images.githubusercontent.com/46250374/75270874-94053b00-57fb-11ea-9420-1c13556

[2020-02-28 08:46] boberfly commented on #46
Fixed:
https://github.com/boberfly/GafferCycles/releases/tag/0.18.0

Not sure about the rotational arcs though, might not be working yet.

[2020-02-28 11:47] kubo-von commented on #46
Awesome, thank you!

Yeah seams the transform motion blur in rotation is still doing linear steps.
![Screenshot from 2020-02-28 12-34-50](https://user-images.githubusercontent.com/46250374/75545778-7d432c00-5a27-11ea-805b-6562e9502fdb.jpg)

Not a biggie, unless you're doing chooppers and propeller planes I guess :D

Here's my simple test scene if it helps:
https://drive.google.com/file/d/1rjNI8f5p

[2020-02-28 11:58] kubo-von commented on #45
What about modifying the transform matrix of the camera when it's switched to panoramic before sending it to cycles ? Would that be possible ?

I will try to find some matrix multiplication/modification which would fix the camera angle.

[2020-03-11 15:42] melMass opened #47 "Embree ISA issue on OSX"
Hi,

I'm planning to use Cycles in Gaffer next week so I want to try and build a version at home first and l'll report my issues here.

Embree does not allow to use multiples ISAs using clang.
I think the most portable way to deal with it is to use embree's **instructions detection** by using:

`-D EMBREE_MAX_ISA=DEFAULT`

But different instructions are requested later on in the build resulting in

[2020-03-14 10:05] boberfly commented on #47
Hi @melMass

Recently the Cycles standalone introduced their own FindEmbree.cmake which might not be smart enough to have any custom cmake-related flags/defines over the one which is generated by Embree itself. What I'd try is deleting the one which comes with Cycles and make it use the one that Embree builds and see what happens.

I am guessing you are building on macOS, let me know how that goes

[2020-04-17 19:56] evantryan opened #48 "Incorrect render result. Maybe because of FaceVarying normals?"
I'm not entirely sure if this should be an issue. I'm getting a warning...

`WARNING : MeshAlgo : Variable "N" has unsupported interpolation type - not generating normals.`

when rendering with cycles. Unfortunately, the render result is also incorrect.

I've seen in other threads that this is because cycles doesn't support FaceVarying Normals. I've also seen a mention of using a MeshType node to

[2020-04-21 11:11] boberfly commented on #48
Hi @evantryan
Yep Cycles doesn't support FaceVarying out of the box and Blender/Cycles is really tagging at a per-face level whether or not to 'smooth' it which doesn't convert very well to how Cortex/Gaffer conveys the data. It's a fairly non-trivial thing to solve other than patching Cycles itself to support 'Corner' normals ('FaceVarying' is 'Corner' in Cycles-speak) or splitting the vertices s

[2020-04-21 14:21] boberfly commented on #48
Semi-fixed here:
https://github.com/boberfly/GafferCycles/commit/891da2438ad5626933588b27d08e134b2713ad2b

This should match the Blender way of setting hard/smooth normals. What you'll need to do is create a PrimitiveVariables node and make a constant boolean named "_smooth" to set what you want.

Next build should have this. Cheers!

[2020-04-25 16:49] evantryan commented on #48
@boberfly That is awesome! Thank you! Should this be a checkbox in the CyclesAttribute node? Thanks again!

[2020-04-26 17:24] boberfly commented on #48
Due to how it could be constant or uniform it is a primitive variable rather than an attribute, but perhaps for the constant case it could also be set as an attribute as an alternative way...

[2020-04-27 10:43] pavelsiska opened #49 "GafferCycles 0.20.0 crashing"
Hi Alex,
When I create any cycles node (in the latest build of Gaffer 0.57 and GafferCycles 0.20) that requires rendered preview Gaffer crashes immediately on my workstation (Ubuntu 19.10)
Leaving only "Segmentation fault (core dumped)" in the terminal.
Could it be something on my end?

[2020-04-27 11:05] kubo-von commented on #49
The same is happening for me too. Creating any shader even in empty scene crashes when it tries to render it in the viewer.
Fedora 31 here

[2020-04-27 19:04] boberfly commented on #49
Hmm funky, this was stable for me here but you're not the only ones to report that. Possibly something changed in the Cycles codebase that I need to change, I'll take a look tonight.

[2020-04-27 19:50] boberfly commented on #49
I'm on Ubuntu 18.04 here, but I am building and releasing in a docker container against CentOS7. I open a new scene against this build in Gaffer 0.57.0.0 and create a principled_bsdf, no crash.

Is regular Gaffer 0.57.0.0 working without crashes? Might be caused by something else...? What GPU/driver are you using? I pulled the RTX 2070 out of this machine so I am using a Vega FE with a bleeding ed

[2020-04-27 20:22] pavelsiska commented on #49
Thanks for looking into it.
Regular Gaffer 0.57 gives me shader previews in both Appleseed and Arnold with no crash.
I'm using GeForce GTX TITAN X, Nvidia-driver-435.

[2020-04-27 21:15] kubo-von commented on #49
Same here, Appleseed works any cycles render crashes.
RTX 2070, 440.82

[2020-04-28 04:14] boberfly commented on #49
So it crashed instantly on my laptop but my workstation was fine with it, very weird. Anyways making a build now.

[2020-04-28 04:31] boberfly commented on #49
Please try this release and verify:
https://github.com/boberfly/GafferCycles/releases/tag/0.20.1

[2020-04-28 06:36] pavelsiska commented on #49
Thanks, Alex. I can confirm the problem has been resolved. On my workstation, the latest release 0.20.1 runs without any problem.

[2020-04-28 10:50] kubo-von commented on #49
0.20.1 works for me me too. Thanks a lot for the lightning-quick fix!

[2020-04-28 20:08] #49 closed

[2020-04-28 20:08] boberfly commented on #49
Cheers, yeah a weird one for sure I'm always a bit worried with bugs like this which differ on the dev platform...

[2020-04-29 18:43] redhoot-dev opened #50 "CUDA on Manjaro and TitanX doesnt work"
NVIDIA-SMI 440.82       Driver Version: 440.82       CUDA Version: 10.2

Log says :

`CUDA error: Illegal address in cuCtxSynchronize(), line 1862

Refer to the Cycles GPU rendering documentation for possible solutions:
https://docs.blender.org/manual/en/latest/render/cycles/gpu_rendering.html

CUDA error: Illegal address in mem_alloc_result, line 815
CUDA error: Illegal address in cuModuleGetGlob

[2020-04-29 18:44] redhoot-dev opened #51 "Disconnecting VDB from Group while rendering seg faults"
GC 0.20 and GF 0.57.1 Happened every time I tried.

[2020-05-13 15:48] amsaid1989 opened #52 "Build fails on Linux Mint 19.3"
I am trying to build the latest release of GafferCycles (0.18.2) with all the dependencies. I cloned the repo, built all the dependencies before the actual build. When I get to the actual build, I get the error in the following paste bin: https://pastebin.com/EnTNyYDq

Any ideas what might be causing the issue?

[2020-05-14 03:20] boberfly commented on #52
Hi @amsaid1989

Looks like some environment variables are not being set so it cannot find the `oslc` compiler.
[code]
The notable ones are setting the `$GAFFER_ROOT` to point to where gaffer is installed (this contains the oslc compiler) and `$LD_LIBRARY_PATH` so that the boost library can be found which is one of the dependencies of `oslc` and a part of Gaffer itself.

Hope this helps

[2020-05-15 08:54] amsaid1989 commented on #52
That is very strange. I had all these variables set, but I will try it again, maybe I had a typo in one of them or something. Thanks for the help, Alex. I will test and update you.

[2020-05-26 20:06] kubo-von opened #53 "Batch render with branched pathtracing rendering empty images"
Hey @boberfly !
Branched pathtracing seems to be crashing the render somehow, resulting image is empty. IPR runs fine, Switching to normal pathtracing fixes the problem, but since brached is the default this might be an issue that a lot of people run into. test scene:
[cube.zip](https://github.com/boberfly/GafferCycles/files/4684755/cube.zip)

Cheers!

[2020-05-30 22:44] boberfly commented on #53
Hey @kubo-von

Yeah it's known, it's due to no default anti-alias value out of the box. Currently heavy in production atm so no eta on the fix.

[2020-05-31 09:48] kubo-von commented on #53
Haha, that was fast!  Thanks @boberfly ! Closing

[2020-05-31 09:48] #53 closed

[2020-05-31 17:34] boberfly commented on #53
Yeah had a boring evening, was raining... :)

[2020-05-31 17:35] boberfly commented on #51
Hey @redhoot-dev I haven't looked into this yet but some of the PR's from the 2.83 branch were related to VDB crashes for Blender itself. Not sure if they're the same, but I can look at this soon. Cheers.

[2020-05-31 17:40] boberfly commented on #40
I found some more issues with new models and revamped my changes in [0.21.0](https://github.com/boberfly/GafferCycles/releases/tag/0.20.1), I was able to make a Pref/Prest and make it an AOV for example by plugging a cclAttribute node. It is known that OSL mode isn't picking up in AOV value/color but plugging it into emission it is working.

[2020-05-31 17:40] #40 closed

[2020-05-31 18:31] boberfly commented on #51
I am finding that it isn't crashing but in some scenes the removal of objects sometimes is delayed and won't sync quite right in-time, WDAS cloud seems to not be crashing for me at least. Also anything with emission or mesh lights adding/removing does crash it. Let me know if VDBs are crashing for you or if it's emissive objects rather.

[2020-05-31 19:23] boberfly commented on #50
Hey @redhoot-dev all I can suggest is test Blender to see if it works there, and see if you can get support from the Blender devs. Having said that, try out the latest 0.21.0 build as they are stabilising the 2.83 version of Cycles (there's a reason why I am keeping these as pre-release until 2.83's release).

[2020-09-15 03:14] boberfly commented on #16
Closing this as VDB volumes have been implemented in Cycles mainline and render in GafferCycles.

[2020-09-15 03:14] #16 closed

[2020-09-15 03:15] boberfly commented on #52
All good @amsaid1989 ? It's a bit tricky to build, feel free to re-open and I can assist.

[2020-09-15 03:15] #52 closed

[2020-09-15 03:17] boberfly commented on #51
I think this could've been a bug with Cycles itself as this build was before their final stable release. Feel free to re-open.

[2020-09-15 03:17] #51 closed

[2020-09-15 08:32] amsaid1989 commented on #52
Really sorry, Alex. Got really busy in the past couple of months and haven't managed to retry building it. Once I have some time, I will try again and reopen the issue if I am still having problems.

[2020-10-02 18:19] Kaiz3rTool commented on #39
I revive it as I cant select my GPU without cuda, seems that it's works for you because something from cuda is still online

[2020-10-03 08:51] Kaiz3rTool opened #54 "can't select GPU"
hi,
in cyclesOption nodes, I can see both cuda and optix options in "device" choice but both are not selectable
I've tried to install cuda, like for older version, it's make no changes, I'm still not able to select gpu rendering
If I put device on "Multi", then I can select my 7 GPU in Multidevice settings but the render crash gaffer with segmentation fault
`WARNING : MeshAlgo : Variable "N" has u

[2020-10-03 08:56] Kaiz3rTool commented on #54
I've tried both BHV2 and EMBREE in bhv settings

[2020-10-04 02:28] boberfly commented on #54
Hi @Kaiz3rTool

I don't have an Nvidia card currently in a convenient way to test this so no ETA, but all the kernels are built and packaged for Cycles to detect and use without needing Cuda installed, and I am not seeing anything obvious that has changed since the previous version of Cycles in this regard.

BVH setting shouldn't be needed here, but BVH2 is what GPUs should use automatically. Is t

[2020-10-04 04:24] Kaiz3rTool commented on #54
hi, the strange things is that cards are detected as I see it in device but i can't select them

about BHV, it's in multidevice as I can't select cuda or optix in device
also I have seen that Optix denoising doesn't works so I guess is a global problem with Nvidia GPU support

cheers

[2020-10-04 21:27] boberfly commented on #54
Can you just test from Session->Device just the GPU itself and not multi-device, does that work? I don't have the hardware here to get multi-device to work smoothly, someone else will need to send patches in or I get the hardware somehow.

[2020-10-04 21:55] boberfly commented on #54
The denoise thing is new code to manage different device render/denoise compatibility eg. CPU render + Optix denoise, I've got some code which might solve that one that I found was added to the Blender addon, just I can't test it locally.

[2020-10-05 03:38] Kaiz3rTool commented on #54
hey, I can't as the GPU is greyed
![image](https://user-images.githubusercontent.com/4272733/95037820-93efe680-06cc-11eb-9a8b-7a8ab86dde90.png)

If it's helps, I can maybe create remote login on my server to let you test. I need to see how it's doable to us
to be certain the problem is not from our server, I've tried in blender and with blender benchmark, both cuda and optix works as expected

[2020-10-05 05:17] boberfly commented on #54
That is strange, never seen the UI have those greyed out before. Can you run this in the script editor for me?
[code]
Also is that an existing CyclesOptions node in a loaded scene? Can you try re-creating that node to see if that fixes things?

[2020-10-06 03:31] Kaiz3rTool commented on #54
here is the log from the command
`Type: CUDA - ID: CUDA_GeForce RTX 2080 Ti_0000:1a:00
Type: CUDA - ID: CUDA_GeForce RTX 2080 Ti_0000:1b:00
Type: CUDA - ID: CUDA_GeForce RTX 2080 Ti_0000:3d:00
Type: CUDA - ID: CUDA_GeForce RTX 2080 Ti_0000:88:00
Type: CUDA - ID: CUDA_GeForce RTX 2080 Ti_0000:89:00
Type: CUDA - ID: CUDA_GeForce RTX 2080 Ti_0000:b1:00
Type: CUDA - ID: CUDA_GeForce RTX 2080 Ti_0000:b

[2020-10-06 14:32] boberfly commented on #54
Alright I think I know what it might be, just simply a huge amount of the same card (nice setup!)
[code]
On this line in python, can you change:
[code]
To:
[code]
And see if the box isn't greyed out but rather lists all of your cards?

Cheers

[2020-10-06 17:54] Kaiz3rTool commented on #54
hey,
thanks for the fix, not greyed anymore and it's work nicely with both Optix and Cuda
all cards are listed as in multidevice,

yeah this server is quite funny, next step is to founda way to render on all GPUs on deadline :)
Thanks !

[2020-10-06 18:27] boberfly commented on #54
Re-opening until I patch the source code ;)

[2020-10-10 13:12] statixVFX commented on #50
Confirmed working on 0.58.3 and GC v0.22.1.

[2021-02-01 09:38] Kaiz3rTool commented on #43
hi, thank you @kubo-von for the preset menu, helps a lot !
i have a little stugle to manage the colorspace with Cycles,
how do you manage cycles' ODT ?
i've tried with 'CustomOptions' node but without success for now
thanks
![image](https://user-images.githubusercontent.com/4272733/106440846-95ae9880-6479-11eb-9526-db56b9a2102e.png)

[2021-02-01 16:54] kubo-von commented on #43
Hey @Kaiz3rTool
What are you trying to achieve by adding the attribute? If you wanna render out in ACEScg, all you need to do is to feed cycles with textures in ACEScg and use ACEScg for the display when tweaking things, and as long as you are rendering into .exr your result has inherently that colorspace, just need to specify it when loading it in the next app.
But I might be wrong!

[2021-02-04 14:00] Kaiz3rTool commented on #43
@kubo-von yes, i try to render in acesCG,
I don't think that's the right way to do it as, with aces, we are able to choose different output that the incoming one.
also, the image is not drived by the viewer as the viewer set the colorspace after rendering
In arnold, for the same process, we have the ociocolormanager node to talk to the renderer, but we don't have the same thing for now in cycles s

[2021-02-08 12:36] #54 closed

[2021-04-29 06:45] willDTF opened #56 "cycles X"
hi,
not sure if gaffercycles is still alive, but if it is, Cycles X is quite an improvement
https://code.blender.org/2021/04/cycles-x/

could be amazing to play with in gaffer

bests

[2021-04-29 07:01] boberfly commented on #56
Hi @Kaiz3rTool

CyclesX looks to be a promising advancement. Should be an easy enough merge in time, I will wait until it is progressed further as it is missing volumes/hair/etc. right now.

This project is definitely not dead! There will be more progress eventually.

[2021-05-13 12:20] mrpurest opened #57 "libIex-2_3.so.24 not found"
I am trying to run gaffer cycles with the latest version of gaffer and I am getting:

ERROR : startup/gui/menus.py : Error loading Cycles module - "libIex-2_3.so.24: cannot open shared object file: No such file or directory".

I understand this is part of "ilmbase", and I have an old version it seems.  -or is this due to me running a newer gaffer version?

[2021-05-13 13:36] boberfly commented on #57
Hi @mrpurest

Currently the builds are against the version listed in the package eg.
[gafferCycles-0.22.1-gaffer-0.58.2.0-linux.tar.gz](https://github.com/boberfly/GafferCycles/releases/download/0.22.1/gafferCycles-0.22.1-gaffer-0.58.2.0-linux.tar.gz)
Would target Gaffer 0.58.2.0-linux and it may work in versions above eg. 0.58.**3**.0 but not on major versions eg. 0.**59**.6.0

New builds are ove

[2021-05-14 09:23] mrpurest commented on #57
Success!  thanks for the links

[2021-05-14 09:23] #57 closed

[2021-06-14 04:38] willDTF opened #58 "pre-compile release"
hi, can you please continue the pre-compile release ?
I'm not able to compile it (my fault, very low skills on this, i need to learn... ) so I can't use gaffercycles anymore with 59.x branch

thanks

[2021-06-14 04:48] boberfly commented on #58
Hi @Kaiz3rTool
Soon, I am timing a few things together to make a stable release.

In the meantime use @kubo-von 's builds here:
https://github.com/kubo-von/GafferCycles/releases/tag/0.22.2

Cheers

[2021-07-05 11:14] xtvjxk123456 commented on #58
Is there any related gaffercycle windows version released here?

[2021-11-04 06:19] ekswathi opened #59 "win build"
any chance to get build for windows

[2022-01-07 04:25] ekswathi commented on #59
how to build for windows?